/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/styles/loading.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* COLORS */
/* app colors */
/* auxiliary colors */
/* text colors */
/* map colors */
/* DIMENSIONS */
/* header */
.loading_container__NF5qi {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading_container__NF5qi .loading_wheel__zEBRm {
  width: 16rem;
  animation: loading_drive__CDnJU 1.5s infinite linear;
}
@keyframes loading_drive__CDnJU {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading_container__NF5qi p {
  margin-top: 3rem;
  font-size: 3rem;
  color: #319fff;
  font-weight: 400;
}
