@use "./mixin" as mixin;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50rem;
  padding: 3rem 3.5rem;
  background-color: mixin.$white;
  border-radius: 2rem;

  .nameInput {
    font-size: 3rem;
    line-height: 3.5rem;
    color: mixin.$dark;
    font-weight: 400;
    border-bottom: 0.2rem solid mixin.$gravl-blue;

    &::placeholder {
      color: mixin.$light;
      font-size: 3rem;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .descInput {
    margin-top: 1.5rem;
    height: 9rem;
    overflow: auto;
    padding: 1.5rem 2rem;
    border: 0.2rem solid mixin.$gravl-blue;
    border-radius: 1rem;

    color: mixin.$dark;
    font-size: 2rem;
    font-weight: 200;

    &::placeholder {
      color: mixin.$faded;
      font-size: 2rem;
      font-weight: 100;
    }
  }

  .bottom {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dateContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .chooseDate {
        margin: 0.5rem 0;
        display: flex;
        p {
          color: mixin.$dark;
          font-size: 2rem;
          font-weight: 200;
        }
      }
    }

    button {
      position: relative;
      background-color: mixin.$gravl-blue;
      padding: 1rem 1rem 1rem 2rem;
      color: mixin.$white;
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      margin-right: 2rem;
      transition: transform 0.3s;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -2rem;
        transform: translateY(-50%);
        width: 0;
        border-left: 2rem solid mixin.$gravl-blue;
        border-top: 2rem solid transparent;
        border-bottom: 2rem solid transparent;
      }

      &:hover {
        transform: translateX(1rem);
      }
    }
  }

  .error {
    position: absolute;
    bottom: 1.5rem;
    left: 3.5rem;
    font-size: 1.3rem;
    color: mixin.$warning;
  }

  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    aspect-ratio: 1;
    cursor: pointer;
  }
}
