@use "./mixin" as mixin;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50rem;
  padding: 3rem 3.5rem;
  background-color: mixin.$white;
  border-radius: 2rem;

  .nameInput {
    font-size: 3rem;
    line-height: 3.5rem;
    color: mixin.$dark;
    font-weight: 400;
    border-bottom: 0.2rem solid mixin.$gravl-blue;

    &::placeholder {
      color: mixin.$light;
      font-size: 3rem;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .textareaContainer {
    position: relative;
    margin-top: 1.5rem;

    .descInput {
      height: 9rem;
      width: 100%;
      overflow: auto;
      padding: 1.5rem 2rem;
      border: 0.2rem solid mixin.$gravl-blue;
      border-radius: 1rem;

      color: mixin.$dark;
      font-size: 2rem;
      font-weight: 200;

      &::placeholder {
        color: mixin.$faded;
        font-size: 2rem;
        font-weight: 100;
      }
    }

    .characterCount {
      position: absolute;
      font-size: 1.4rem;
      color: mixin.$faded;
      font-weight: 200;
      bottom: 1rem;
      right: 1rem;
    }
  }

  .bottom {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dateContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .chooseDate {
        margin: 0.5rem 0;
        display: flex;
        p {
          color: mixin.$dark;
          font-size: 2rem;
          font-weight: 200;
        }
      }
    }

    button {
      position: relative;
      background-color: mixin.$gravl-blue;
      padding: 1rem 1rem 1rem 2rem;
      color: mixin.$white;
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      margin-right: 2rem;
      transition: transform 0.3s;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -2rem;
        transform: translateY(-50%);
        width: 0;
        border-left: 2rem solid mixin.$gravl-blue;
        border-top: 2rem solid transparent;
        border-bottom: 2rem solid transparent;
      }

      &:hover {
        transform: translateX(1rem);
      }
    }
  }

  .error {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3rem;
    color: mixin.$warning;
  }
}

@media (max-width: 760px) {
  .container {
    width: 60rem;
    padding: 6rem 3.5rem;

    .nameInput {
      font-size: 4rem;
      line-height: 4.5rem;

      &::placeholder {
        font-size: 4rem;
      }
    }

    .textareaContainer {
      .descInput {
        height: 35rem;
        font-size: 3.5rem;

        &::placeholder {
          font-size: 3.5rem;
        }
      }

      .characterCount {
        font-size: 2.5rem;
      }
    }

    .bottom {
      flex-direction: column;
      .dateContainer {
        .chooseDate {
          margin: 1rem 0;
          p {
            font-size: 3rem;
          }
        }
      }
  
      button {
        margin-top: 3rem;
        padding: 2rem 2rem 2rem 4rem;
        font-size: 4rem;
        margin-right: 4rem;

        &::after {
          right: -4rem;
          border-left: 4rem solid mixin.$gravl-blue;
          border-top: 4rem solid transparent;
          border-bottom: 4rem solid transparent;
        }

        &:hover {
          transform: none;
        }
      }
    }
  
    .error {
      font-size: 2rem;
      bottom: 0;
    }
  }
}