@use "./mixin" as mixin;

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  aspect-ratio: 1;
  cursor: pointer;
}

@media (max-width: 760px) {
  .close {
    width: 5rem;
  }
}