@use '../styles' as global;

#countiesMap {
  width: 95rem;

  /* unvisited counties */
  > path {
    fill: global.$default-gray;
    stroke: #fff;
    cursor: pointer;
  }
}

/* interstates */

#highways path {
  stroke: global.$highways;
  cursor: pointer;
  display: none; // only hidden for landing page animation
}

/* state borders */

#state_borders path {
  stroke: #fff;
  cursor: pointer;
}