@use "./mixin" as mixin;

.hoverLabel {
  position: fixed;
  background: mixin.$white;
  padding: 0.5rem;
  z-index: 1000;
  color: mixin.$dark;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 1rem;
  border: 0.2rem solid mixin.$gravl-blue;
}

#map {
  width: 95%;

  /* unvisited counties */
  > path {
    fill: mixin.$default-dark;
    stroke: #fff;
    cursor: pointer;
    transition: 0.2s;
  }
}

/* interstates */

#highways {
  pointer-events: none;

  path {
    transition: 0.3s;
    stroke: mixin.$highways;
    cursor: pointer;
    visibility: hidden; // can be toggled to help with filling out trips
    opacity: 0;
  }

  &.visible path {
    visibility: visible;
    opacity: 1;
  }
}

/* state borders */

#state_borders path {
  stroke: #fff;
  cursor: pointer;
}
