@use './mixin' as mixin;

#countiesMap {
  width: 80rem;
  margin-top: -2rem;

  /* unvisited counties */
  > path {
    fill: mixin.$default-dark;
    stroke: #fff;
    cursor: pointer;
  }
}

/* interstates */

#highways path {
  stroke: mixin.$highways;
  cursor: pointer;
  display: none; // only hidden for landing page animation
}

/* state borders */

#state_borders path {
  stroke: #fff;
  cursor: pointer;
}