@use "./mixin" as mixin;

.container {
  display: flex;
  min-height: calc(100vh - mixin.$header-height);
  min-height: calc(100dvh - mixin.$header-height);

  &:has(.main.centered) {
    align-items: center;
  }

  .main {
    max-height: calc(100dvh - mixin.$header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60rem;
    margin-top: -4rem;
    margin-left: 15%;
    transition: transform 0.3s ease;

    &.centered {
      margin: auto;
    }

    .signUpContainer {
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .viewFullProfile {
        margin-top: 1.5rem;
        font-size: 1.4rem;
        color: mixin.$gravl-blue;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 760px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    overflow-x: hidden;
    width: 100vw;
    max-width: 100vw;

    .main {
      margin: 0 auto;
    }
  }
}
