@use "./mixin" as mixin;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(36, 41, 47, 0.3);
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    position: relative;
    border-radius: 2rem;
    background-color: mixin.$white;
    margin: auto;
    width: 57rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // default

    .prompt {
      font-size: 3rem;
      font-weight: 500;
      color: mixin.$dark;
    }
    .inputContainer {
      margin-top: 2rem;
      display: flex;
      width: 50rem;
      position: relative;

      .returnContainer {
        position: absolute;
        top: 1.2rem;
        right: 1rem;
        display: flex;
        align-items: center;

        p {
          font-size: 2rem;
          color: mixin.$gravl-blue;
          font-weight: 100;
        }

        .return_arrow {
          margin-left: 0.5rem;
          width: 2.5rem;
        }
      }

      input {
        text-align: center;
        color: mixin.$gravl-blue;
        font-size: 2rem;
        font-weight: 400;
        padding: 1rem 10rem;
        border: 0.15rem solid mixin.$gravl-blue;
        border-radius: 1rem;
        flex: auto;
        resize: none;
        font-family: "Josefin Sans", sans-serif;

        &[type="file"] {
          display: none;
        }

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: mixin.$fade;
          font-weight: 300;
        }
      }
    }

    // pending

    .wheel {
      width: 10rem;
      animation: drive 0.95s infinite linear;
    }
    @keyframes drive {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .pending {
      margin-top: 2rem;
      font-size: 2.5rem;
      color: mixin.$gravl-blue;
      font-weight: 400;
    }

    // success

    .check {
      width: 12rem;
      margin: -3rem 0;
    }
    .success {
      margin-top: 2rem;
      font-size: 3rem;
      color: mixin.$gravl-blue;
      font-weight: 400;
    }
    .btn {
      margin-top: 1rem;
      background-color: mixin.$very-light-blue;
      color: mixin.$gravl-blue;
      padding: 0.5rem 0.8rem;
      border-radius: 1rem;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background-color: mixin.$gravl-blue;
        color: mixin.$white;
      }
    }

    // failure

    .sad {
      width: 6rem;
    }
    .failure {
      margin-top: 2rem;
      font-size: 3rem;
      color: mixin.$gravl-blue;
      font-weight: 400;
    }
  }
}
