@use "./mixin" as mixin;

.container {
  position: absolute;
  top: calc(mixin.$header-height - 2rem);
  right: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.1rem solid mixin.$light;

  .btnSection {
    margin-top: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .addFriendBtn,
    .searchFriendBtn {
      width: 3.5rem;
      aspect-ratio: 1;
      border-radius: 50%;
      transition: 0.3s;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .plus,
    .search {
      width: 2rem;
      height: 2rem;
    }

    .addFriendBtn {
      background-color: mixin.$gravl-blue;
      margin-bottom: 0.8rem;

      &:hover {
        background-color: mixin.$darker-blue;
      }
    }

    .searchFriendBtn {
      background-color: mixin.$almost-very-light;

      &:hover {
        background-color: mixin.$light;
      }
    }
  }

  .friendsSection {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .friend {
      margin-bottom: 0.8rem;
      position: relative;
      transition: 0.3s;

      .pfp {
        width: 3.5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }

      .username {
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5rem;
        color: mixin.$gravl-blue;
        font-size: 1.25rem;
        font-weight: 400;
        transition: 0.3s;
      }

      &:hover .username {
        opacity: 1;
      }

      .unopened {
        position: absolute;
        top: -0.2rem;
        right: -0.2rem;
        width: 1.2rem;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 0.2rem solid mixin.$white;
        background-color: mixin.$gravl-blue;
      }
    }
  }
}
