@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 2000px), (max-height: 1100px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1480px), (max-height: 950px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 1380px), (max-height: 900px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1124px), (max-height: 800px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 868px), (max-height: 700px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 740px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 4px;
  }
}

button {
  border: none;
  background: none;
  padding: 0;
  text-align: start;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

input {
  border: none;

  &:focus {
    outline: none;
  }
}
