@use "./mixin" as mixin;

.headerContainer {
  height: mixin.$header-height;
  width: 100vw;
  padding: 0 7rem;
  display: flex;
  align-items: center;

  .logoContainer {
    display: flex;
    align-items: center;
    width: fit-content;

    .logo {
      width: 3.5rem;
      height: 4rem;
      margin-right: 0.5rem;
      cursor: pointer;
    }
    .gravl {
      font-size: 2.8rem;
      font-weight: 400;
      color: mixin.$dark;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .headerRightContainer {
    flex: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* if not logged in */

    .loginContainer,
    .signUpContainer {
      display: flex;
      align-items: center;
      cursor: pointer;

      .login,
      .signUp {
        font-size: 2rem;
        font-weight: 400;
      }
      .login {
        color: mixin.$dark;
        margin-right: 1rem;
      }
      .signUp {
        color: mixin.$gravl-blue;
        margin-left: 1rem;
      }

      .account,
      .go {
        aspect-ratio: 1;
        border-radius: 50%;
      }
      .account {
        width: 2.7rem;
        cursor: pointer;
      }
      .go {
        width: 3rem;
      }
    }

    .signUpContainer {
      margin-right: 2rem;
      height: 3.5rem;
      padding: 0 1.4rem;
      // border: 0.2rem solid mixin.$gravl-blue;
      border-radius: 2rem;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: mixin.$very-light-blue;
      }
    }

    /* if logged in */

    .seeWrappedBtn {
      margin-right: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1.5rem;
      height: 3.5rem;
      border-radius: 1.75rem;
      background: mixin.$gravl-blue;
      box-shadow:
        0 0 0.5rem mixin.$gravl-blue,
        0 0 2rem mixin.$gravl-blue;
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: 500;
      color: mixin.$white;
      cursor: pointer;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .pfpContainer {
      position: relative;
      cursor: pointer;

      .pfp {
        width: 3.5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
      }

      .dropdown {
        position: absolute;
        top: 4rem;
        right: 0;
        background-color: mixin.$very-light;
        border-radius: 1rem;
        padding: 1rem 2rem;
        width: 15rem;
        box-shadow: 0.2rem 0.3rem 0.3rem 0 rgba(36, 41, 47, 0.25);
        z-index: 100;

        &.active {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          transition: 0.3s ease;
        }
        &.inactive {
          opacity: 0;
          visibility: hidden;
          transform: translateY(-1rem);
          transition: 0.3s ease;
        }

        ul {
          li {
            padding: 0.75rem 0;
            color: mixin.$dark;
            font-size: 1.5rem;
            font-weight: 400;
            transition: 0.3s;
            text-decoration: none;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .headerContainer {
    width: 100%;
    max-width: 100vw;
    padding: 0 4rem;
    box-sizing: border-box;

    .logoContainer {
      .logo {
        width: 4rem;
        height: 4.6rem;
      }
      .gravl {
        font-size: 3.2rem;
      }
    }

    .headerRightContainer {
      .loginContainer,
      .signUpContainer {
        .login,
        .signUp {
          font-size: 2.3rem;
        }
        .account {
          width: 3.1rem;
        }
        .go {
          width: 3.5rem;
        }
      }

      .signUpContainer {
        height: 4rem;
        padding: 0 1.6rem;
      }

      .pfpContainer {
        .pfp {
          width: 4rem;
        }

        .dropdown {
          width: 18rem;

          ul {
            li {
              font-size: 2.2rem;
              padding: 1.5rem 0;
            }
          }
        }
      }
    }
  }
}
