@use "./mixin" as mixin;

.headerContainer {
  height: mixin.$header-height;
  width: 100vw;
  padding: 0 7rem;
  display: flex;
  align-items: center;

  .logoContainer {
    display: flex;
    align-items: center;
    width: fit-content;

    .logo {
      width: 3.5rem;
      height: 4rem;
      margin-right: 0.5rem;
    }
    .gravl {
      font-size: 2.8rem;
      font-weight: 400;
      color: mixin.$dark;
      text-decoration: none;
    }
  }
  .headerRightContainer {
    flex: auto;
    display: flex;
    justify-content: end;
    align-items: center;

    /* if not logged in */

    .loginContainer {
      display: flex;
      align-items: center;
      cursor: pointer;

      .login {
        font-size: 2rem;
        font-weight: 400;
        margin-right: 1rem;
      }

      .account {
        width: 2.7rem;
        aspect-ratio: 1;
        cursor: pointer;
      }
    }

    /* if logged in */

    .friendsContainer {
      display: flex;
      align-items: center;
      margin-right: 3rem;

      img {
        width: 2rem;
        cursor: pointer;
      }

      p {
        margin-left: 0.6rem;
        margin-top: 0.2rem;
        font-size: 1.4rem;
        color: mixin.$gravl-blue;
        cursor: pointer;
      }
    }

    .pfpContainer {
      position: relative;
      cursor: pointer;

      .pfp {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        object-fit: cover;
      }

      .notifContainer {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.4rem;
        aspect-ratio: 1;
        background-color: mixin.$gravl-blue;
        border-radius: 50%;
        color: mixin.$white;
      }
    }
  }
}
