@use "./mixin" as mixin;

.headerContainer {
  height: mixin.$header-height;
  width: 100vw;
  padding: 0 4rem 0 7rem;
  display: flex;
  align-items: center;

  .logoContainer {
    display: flex;
    align-items: center;
    width: fit-content;

    .logo {
      width: 3.5rem;
      height: 4rem;
      margin-right: 0.5rem;
    }
    .gravl {
      font-size: 2.8rem;
      font-weight: 400;
      color: mixin.$dark;
      text-decoration: none;
    }
    .testing {
      margin-left: 0.5rem;
      font-size: 1rem;
      font-weight: 600;
      color: mixin.$gravl-blue;
      text-transform: uppercase;
      padding: 0.3rem;
      padding-top: 0.4rem;
      border-radius: 2rem;
      border: 0.2rem solid mixin.$gravl-blue;
    }
  }

  .headerRightContainer {
    flex: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* if not logged in */

    .loginContainer {
      display: flex;
      align-items: center;
      cursor: pointer;

      .login {
        font-size: 2rem;
        font-weight: 400;
        margin-right: 1rem;
        color: mixin.$dark;
      }

      .account {
        width: 2.7rem;
        aspect-ratio: 1;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    /* if logged in */

    .notifContainer {
      margin-right: 1rem;
      position: relative;
      width: 3.5rem;
      aspect-ratio: 1;
      background-color: mixin.$almost-very-light;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background-color: mixin.$lighter;
      }

      .notif {
        height: 2rem;
        aspect-ratio: 1;
      }

      .notifCount {
        position: absolute;
        top: -0.1rem;
        right: -0.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        aspect-ratio: 1;
        background-color: mixin.$gravl-blue;
        border-radius: 50%;
        color: mixin.$white;
        border: 0.2rem solid mixin.$white;
      }

      .dropdown {
        position: absolute;
        top: 4rem;
        right: -4.5rem;
        background-color: mixin.$very-light;
        border-radius: 1rem;
        padding: 1.5rem 2rem 1rem;
        width: 24rem;

        box-shadow: 0.2rem 0.3rem 0.3rem 0 rgba(36, 41, 47, 0.25);
        z-index: 100;
        cursor: default;

        &.active {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          transition: 0.3s ease;
        }
        &.inactive {
          opacity: 0;
          visibility: hidden;
          transform: translateY(-1rem);
          transition: 0.3s ease;
        }

        ul {
          max-height: 36rem;
          overflow-y: auto;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            display: none;
          }

          mask-image: linear-gradient(
            to bottom,
            transparent 0%,
            black 1rem,
            black calc(100% - 1rem),
            transparent 100%
          );

          li {
            padding: 0.5rem 0 1rem;
            border-bottom: 0.1rem solid mixin.$lighter;
            display: flex;
            flex-direction: column;
            align-items: center;

            .date {
              padding-top: 1rem;
              color: mixin.$fade;
              font-size: 1rem;
            }

            .text {
              width: 100%;
              padding: 0.5rem 0;
              color: mixin.$faded;
              font-size: 1.5rem;
              font-weight: 300;
              transition: 0.3s;
              text-decoration: none;

              span {
                color: mixin.$dark;
                font-weight: 400;
              }
            }

            .btns {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .accept,
              .decline {
                padding: 0.5rem 2.5rem;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 400;
                border-radius: 2rem;
                transition: 0.3s;
                cursor: pointer;
              }

              .accept {
                background-color: mixin.$gravl-blue;
                color: mixin.$white;

                &:hover {
                  background-color: mixin.$darker-blue;
                }
              }

              .decline {
                background-color: mixin.$almost-very-light;
                color: mixin.$dark;

                &:hover {
                  background-color: mixin.$lighter;
                }
              }
            }
          }
        }
      }
    }

    .pfpContainer {
      position: relative;
      cursor: pointer;

      .pfp {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        object-fit: cover;
      }

      .dropdown {
        position: absolute;
        top: 4rem;
        right: 0;
        background-color: mixin.$very-light;
        border-radius: 1rem;
        padding: 1rem 2rem;
        width: 15rem;
        box-shadow: 0.2rem 0.3rem 0.3rem 0 rgba(36, 41, 47, 0.25);
        z-index: 100;

        &.active {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          transition: 0.3s ease;
        }
        &.inactive {
          opacity: 0;
          visibility: hidden;
          transform: translateY(-1rem);
          transition: 0.3s ease;
        }

        ul {
          li {
            padding: 0.75rem 0;
            color: mixin.$dark;
            font-size: 1.5rem;
            font-weight: 400;
            transition: 0.3s;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .headerContainer {
    padding: 0 4rem;
  }
}
