@use "./mixin" as mixin;

.mainContainer {
  min-height: calc(100dvh - mixin.$header-height);
  height: calc(100dvh - mixin.$header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .map {
    margin-top: -4rem;
    width: 90rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .motto {
    margin-top: -4rem;
    font-size: 3rem;
    font-weight: 400;
  }

  .subtitle {
    margin-top: 0.75rem;
    font-size: 1.25rem;
    color: mixin.$gravl-blue;
    text-transform: uppercase;
  }
}

@media (max-width: 760px) {
  .mainContainer {
    .map {
      width: 75rem;
    }
  }
}
