@use "./mixin" as mixin;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 5rem;
  font-family: sans-serif;
  text-align: center;
}

.tripNameInput {
  font-size: 4.5rem;
  font-weight: 200;
  padding: 1.2rem 2rem;
  margin-bottom: 5rem;
  border: 2px solid #ccc;
  border-radius: 4rem;
  width: 100%;
  max-width: 500px;
  outline: none;
  text-align: center;
}

.tripNameInput:focus {
  border-color: mixin.$gravl-blue;
}

.button {
  background-color: mixin.$gravl-blue;
  color: white;
  border: none;
  padding: 2rem 4rem;
  font-size: 4rem;
  border-radius: 5rem;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background 0.2s ease;
}

.button:hover {
  background-color: #248de3;
}
