@use "./mixin" as mixin;

.viewport {
  height: calc(100vh - mixin.$header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60rem;
  margin: auto;
  margin-top: -4rem;
  text-align: center;

  h1 {
    font-size: 8rem;
    color: mixin.$gravl-blue;
  }

  .stat {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 300;
  }

  .link {
    margin-top: 3rem;
    font-size: 2rem;
    color: mixin.$gravl-blue;
    text-transform: uppercase;
    font-weight: 800;
  }
}

.buttonRow {
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
}

.circleButton {
  width: 8rem;
  aspect-ratio: 1;
  background-color: mixin.$very-light-blue;
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    width: 5rem;
  }
  .back {
    margin-right: 0.2rem;
    margin-top: 0.2rem;
  }
  .play {
    width: 7rem;
    margin-top: 0.3rem;
  }
}
