@use "./mixin" as mixin;

.statsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: -2rem;

  .tripCount {
    margin-top: 1.5rem;
    font-size: 6.5rem;
    font-weight: 700;
    color: mixin.$gravl-blue;
  }

  .stat {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 300;
  }
}

.buttonRow {
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
  justify-content: center;
}

.circleButton {
  width: 8rem;
  aspect-ratio: 1;
  background-color: mixin.$very-light-blue;
  border: none;
  border-radius: 50%;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    width: 5rem;
  }
  .back {
    margin-right: 0.2rem;
    margin-top: 0.2rem;
  }
  .play {
    width: 7rem;
    margin-top: 0.3rem;
  }
}
