@use "./mixin" as mixin;

.container {
  min-height: calc(100vh - mixin.$header-height);
  min-height: calc(100dvh - mixin.$header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .wheel {
    width: 16rem;
    aspect-ratio: 1;
    animation: drive 0.95s infinite linear;
  }
  @keyframes drive {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  p {
    margin-top: 3rem;
    font-size: 3rem;
    color: mixin.$gravl-blue;
    font-weight: 400;
  }
}
