@use "./mixin" as mixin;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26rem;
  border-radius: 1.5rem;
  background-color: mixin.$gravl-blue;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: mixin.$darker-blue;
  }

  .plus {
    width: 2.5rem;
    aspect-ratio: 1;
  }

  p {
    margin-left: 0.5rem;
    font-size: 1.6rem;
    color: mixin.$white;
    font-weight: 400;
  }
}

@media (max-width: 760px) {
  .button {
    margin: 0 5rem;
    width: 50rem;
    border-radius: 4rem;

    &:hover {
      background-color: mixin.$gravl-blue;
    }

    .plus {
      width: 4rem;
      aspect-ratio: 1;
    }

    p {
      margin-left: 1rem;
      font-size: 3rem;
    }
  }
}
