@use "./mixin" as mixin;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(36, 41, 47, 0.3);
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60rem;
  padding: 4rem 3.5rem;
  background-color: mixin.$white;
  border-radius: 2rem;
  gap: 3rem;
}

.title {
  font-size: 2.8rem;
  font-weight: 400;
  color: mixin.$dark;
  text-align: center;
  line-height: 1.3;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.optionButton {
  background-color: mixin.$gravl-blue;
  padding: 1.5rem 3rem;
  color: mixin.$white;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
  width: 100%;

  &:hover {
    background-color: mixin.$darker-blue;
  }
}

@media (max-width: 760px) {
  .overlay {
    z-index: -1;
    background-color: mixin.$white;
  }

  .container {
    width: 60rem;
    padding: 6rem 3.5rem;
    gap: 4rem;
  }

  .title {
    font-size: 4rem;
  }

  .buttonContainer {
    gap: 2.5rem;
  }

  .optionButton {
    font-size: 3.5rem;
    padding: 2.5rem 4rem;

    &:hover {
      background-color: mixin.$gravl-blue;
    }
  }
}
