@use "./mixin" as mixin;

.everything {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main {
    display: flex;

    .leftSide,
    .rightSide {
      border-radius: 2rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4rem 3rem 2.5rem;
      background-color: mixin.$white;
    }

    .leftSide {
      margin-right: 2.5rem;
      width: 80rem;

      .titleContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .name,
        .dayCount {
          color: mixin.$dark;
          font-size: 3rem;
          line-height: 3.5rem;
          font-weight: 200;
        }

        .name {
          font-style: italic;
        }
      }

      /* map */

      .mapContainer {
        position: relative;
        margin-top: 4rem;
        margin-left: -4rem;
        width: 80rem;
        height: 45rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &.largeMapContainer {
          width: 80rem;
        }

        .highwayContainer {
          position: absolute;
          bottom: -2rem;
          right: 1rem;
          display: flex;
          align-items: center;

          .highways {
            margin-right: 1rem;
            font-size: 1.5rem;
            color: mixin.$gravl-blue;
            font-weight: 400;
          }
        }
      }

      .tip {
        height: 1rem;
        margin-bottom: 2rem;
        color: mixin.$faded;
        font-weight: 300;
        font-size: 1.6rem;
      }

      /* tool bar */

      .dateChanger {
        display: flex;
        width: 100%;

        .backBtn,
        .forwardBtn {
          cursor: pointer;
          width: 11rem;
          height: 4rem;
          border-radius: 2rem;
          background-color: mixin.$gravl-blue;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 0.2rem;
          transition: 0.3s;

          color: mixin.$white;
          font-size: 2rem;
          font-weight: 500;
          text-transform: uppercase;

          &:hover {
            background-color: mixin.$darker-blue;
          }
        }

        .backBtn {
          margin-right: 2.5rem;
        }

        .forwardBtn {
          margin-left: 2.5rem;
        }

        .currentDateContainer {
          display: flex;
          justify-content: center;
          flex: auto;
          height: 4rem;
          border-radius: 2rem;
          border: 0.2rem solid mixin.$light-blue;
          background-color: mixin.$very-light-blue;

          p {
            color: mixin.$gravl-blue;
            font-size: 2.5rem;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;

            &.first {
              margin-right: 2rem;
            }
          }
        }
      }
    }

    .rightSide {
      width: 26rem;
      height: 66rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .top {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-weight: 300;

          .text {
            color: mixin.$dark;
            font-size: 2rem;
          }

          .date {
            color: mixin.$dark;
            font-size: 2.75rem;
            margin: 0.5rem 0;
          }
        }

        .instruction {
          margin-top: 3rem;
          color: mixin.$faded;
          font-size: 1.3rem;
          font-weight: 200;
          margin-bottom: 1rem;
        }

      }

      .middle {
        position: relative;
        flex-grow: 1;
        overflow: hidden;

        &::before, &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          pointer-events: none;
        }
        &::before {
          top: 0;
          height: 1rem;
          background: linear-gradient(to bottom, mixin.$white, transparent);
        }
        &::after {
          bottom: 0;
          height: 2rem;
          background: linear-gradient(to top, mixin.$white, transparent);
        }

        .visitedList {
          height: 100%;
          overflow-y: auto;
          padding: 1rem 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            display: none;
          }

          .visitedPlace {
            margin-bottom: 2rem;
            color: mixin.$gravl-blue;
            font-size: 1.6rem;
            font-weight: 400;
            text-align: center;
            cursor: pointer;
          }
        }

      }

      .clearBtn {
        margin-top: 1rem;
        width: 100%;
        height: 4rem;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: mixin.$light;
        border-radius: 2rem;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: mixin.$almost-light;
        }

        color: mixin.$white;
        padding-top: 0.2rem;
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }

  .closeContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: mixin.$white;
    cursor: pointer;
    transition: 0.3s;

    .close {
      width: 3rem;
      aspect-ratio: 1;
    }
  }
}
