/* app colors */
$gravl-blue: #319fff;
$white: #fff;
$dark: #24292f;

/* map colors */
$navy-blue: #103F80;
$recent-blue: #54e8d7;
$dark-gray: #294656;
$default-gray: #d1dbdd;
$lived-in: #ffff33;
$highways: #06218e;