/* COLORS */

/* app colors */
$gravl-blue: #319fff;
$white: #fff;

/* auxiliary colors */
$very-light-blue: #eaf5ff;
$very-light: #fbfbfb;
$light-blue: #bee1ff;
$lighter-blue: #7dc2ff;
$darker-blue: #1391ff;

/* text colors */
$dark: #24292f;
$faded: #757575;
$fade: #989898;
$almost-light: #ababab;
$light: #cfcfcf;
$lighter: #ddd;
$almost-very-light: #eee;

/* map colors */
$navy-blue: #0d5ecf;
$recent-blue: #54e8d7;
$default-dark: #012241;
$default-gray: #d1dbdd;
$lived-in: #ffff33;
$highways: #06218e;
$warning: #c30000;

/* DIMENSIONS */

/* header */
$header-height: 9rem;
