/* app colors */
$gravl-blue: #319fff;
$white: #fff;

/* auxiliary colors */
$very-light-blue: #eaf5ff;
$very-light: #fbfbfb;

/* text colors */
$dark: #24292f;
$faded: #757575;

/* map colors */
$navy-blue: #103f80;
$recent-blue: #54e8d7;
$default-dark: #012241;
$default-gray: #d1dbdd;
$lived-in: #ffff33;
$highways: #06218e;
