@use "./mixin" as mixin;

#map {
  width: 84rem;
  margin-top: -2rem;

  /* unvisited parks */
  .park > path {
    fill: mixin.$default-dark;
    cursor: pointer;
    transition: 0.3s;
  }

  [id*="_line"] {
    display: none;
  }

  .state > path {
    fill: mixin.$default-gray;
    stroke: #fff;
    stroke-width: 0.15rem;
    cursor: pointer;
  }

  text {
    display: none;
  }
}
