@use "./mixin" as mixin;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(36, 41, 47, 0.3);
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 760px) {
  .overlay {
    z-index: -1;
    background-color: mixin.$white;
  }
}
