@use "./mixin" as mixin;

.container {
  width: 100vw;
  margin-top: -#{mixin.$header-height};
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .deadEndSign {
    width: 14rem;
    aspect-ratio: 1;
    background-color: #eed202;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow:
      inset 0 0 0 0.2rem #eed202,
      inset 0 0 0 0.5rem mixin.$dark;
    transform: rotate(45deg);

    p {
      text-transform: uppercase;
      font-size: 3.5rem;
      text-align: center;
      transform: rotate(-45deg);
    }
  }

  h1 {
    margin-top: 5rem;
    font-size: 2.5rem;
    font-weight: 400;
    color: mixin.$dark;
  }

  .button {
    margin-top: 2rem;
    padding: 0 2.5rem;
    border-radius: 2.25rem;
    height: 4.5rem;
    cursor: pointer;
    background: mixin.$gravl-blue;
    text-align: center;
    color: mixin.$white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 760px) {
  .container {
    .button {
      cursor: default;

      &:hover {
        transform: none;
      }
    }
  }
}
