@use "./mixin" as mixin;

.container {
  padding: 0.5rem 0 1rem;
  border-bottom: 0.1rem solid mixin.$lighter;
  display: flex;
  flex-direction: column;
  align-items: start;

  &:last-child {
    border-bottom: none;
  }

  .date {
    padding-top: 1rem;
    color: mixin.$fade;
    font-size: 1rem;
  }

  .text,
  .noNotifs {
    width: 100%;
    padding: 0.5rem 0;
    color: mixin.$faded;
    font-size: 1.5rem;
    font-weight: 300;
    transition: 0.3s;
    text-decoration: none;

    span {
      color: mixin.$dark;
      font-weight: 400;
      cursor: pointer;
    }
  }

  .noNotifs {
    text-align: center;
  }

  .btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .accept,
    .decline {
      padding: 0.5rem 2.5rem;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
      border-radius: 2rem;
      transition: 0.3s;
      cursor: pointer;
    }

    .accept {
      background-color: mixin.$gravl-blue;
      color: mixin.$white;

      &:hover {
        background-color: mixin.$darker-blue;
      }
    }

    .decline {
      background-color: mixin.$almost-very-light;
      color: mixin.$dark;

      &:hover {
        background-color: mixin.$lighter;
      }
    }
  }
}
