@use "./mixin" as mixin;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(36, 41, 47, 0.3);
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    border-radius: 2rem;
    background-color: mixin.$white;
    margin: auto;
    padding: 4rem 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .headingContainer {
      display: flex;
      align-items: center;

      .pin {
        margin: -1rem 0;
        margin-left: 0.5rem;
        width: 4rem;
        aspect-ratio: 1;
      }
    }

    p {
      font-size: 3rem;
      font-weight: 400;
      color: mixin.$dark;
    }

    .inputContainer {
      margin-top: 2rem;
      display: flex;
      max-width: 50rem;
      position: relative;

      .returnContainer {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        display: flex;
        align-items: center;

        // If desktop, show Enter arrow

        p {
          font-size: 2rem;
          color: mixin.$gravl-blue;
          font-weight: 100;
        }

        .return_arrow {
          margin-left: 0.5rem;
          width: 2.5rem;
          height: 2rem;
        }

        // If mobile show Next button

        .nextBtn {
          background-color: mixin.$gravl-blue;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 3rem;
          width: 5.5rem;
          border-radius: 0.75rem;
          font-size: 1.75rem;
          color: mixin.$white;
          font-weight: 400;
        }
      }

      .wordCount {
        position: absolute;
        font-size: 1.4rem;
        color: mixin.$faded;
        font-weight: 200;
        top: -2rem;
        right: 0.5rem;
      }

      input,
      textarea {
        text-align: center;
        color: mixin.$dark;
        font-size: 2rem;
        font-weight: 300;
        padding: 1rem 10rem;
        border: 0.15rem solid mixin.$gravl-blue;
        border-radius: 1rem;
        flex: auto;
        resize: none;
        font-family: "Josefin Sans", sans-serif;

        &[type="file"] {
          display: none;
        }

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: mixin.$fade;
        }
      }

      &.uploadPFPContainer {
        flex-direction: column;
        align-items: center;

        .uploadPFP {
          cursor: pointer;
          background-color: #fafafa;
          width: 13.3rem;
          aspect-ratio: 1;
          border-radius: 50%;
          border: 0.15rem solid mixin.$gravl-blue;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.3s;

          &:hover {
            background-color: #f5f5f5;
          }
        }

        .account {
          width: 10rem;
          aspect-ratio: 1;
        }

        button {
          margin-top: 2rem;
          background-color: mixin.$gravl-blue;
          padding: 1rem 1.5rem;
          border-radius: 1rem;
          font-size: 2rem;
          color: mixin.$white;
          font-weight: 400;
          cursor: pointer;
        }
      }
    }

    .warning {
      position: absolute;
      font-size: 1.5rem;
      color: mixin.$warning;
      bottom: 1.25rem;
    }
  }
}
