@use "./mixin" as mixin;

.profile {
  display: flex;
  align-items: center;
  width: 100%;

  .pfpContainer {
    position: relative;

    img {
      width: 12rem;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 50%;
      cursor: pointer;
      image-rendering: -webkit-optimize-contrast;
    }
  }

  .userInfo {
    margin-left: 2.2rem;
    display: flex;
    flex-direction: column;
    flex: auto;

    .usernameAndEdit {
      display: flex;
      align-items: center;

      .username {
        color: mixin.$dark;
        font-size: 2.6rem;
        font-weight: 400;
      }

      .edit {
        margin-bottom: 0.8rem;
        margin-left: 1rem;
        width: 2rem;
        aspect-ratio: 1;
        cursor: pointer;
      }
    }

    .location {
      margin-top: 0.3rem;
      font-size: 1rem;
      color: mixin.$dark;
      font-weight: 400;
    }

    .bio {
      margin-top: 0.5rem;
      font-size: 1.4rem;
      font-style: italic;
      font-weight: 300;
      color: mixin.$faded;
    }

    .signInToView {
      margin-top: 1rem;
      font-size: 1.2rem;
      font-weight: 500;
      color: mixin.$gravl-blue;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 760px) {
  .profile {
    .userInfo {
      .usernameAndEdit {
        .username {
          font-size: 5rem;
        }
        .edit {
          width: 3rem;
          height: 3rem;
          cursor: default;
        }
      }

      .location {
        margin-top: 0.8rem;
        font-size: 2.3rem;
      }

      .bio {
        margin-top: 0.8rem;
        font-size: 3rem;
        width: 29rem;
      }
    }
  }
}
