@use "./mixin" as mixin;

.container {
  margin-bottom: 4rem;
  display: flex;
  align-items: start;

  .year {
    font-size: 5rem;
    width: 14rem;
    font-weight: 400;
  }

  .allMonthsContainer {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;

    .monthContainer {
      display: flex;
      align-items: start;

      .month {
        font-size: 2rem;
        font-weight: 400;
        width: 7rem;
      }
      .trips {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
