@use "./mixin" as mixin;

.timeline {
  z-index: 1000;
  position: absolute;
  top: mixin.$header-height;
  left: 6rem;
  height: calc(
    100vh - #{mixin.$header-height} - 5rem
  ); // subtract out header and the padding-bottom of the entire page container
  display: flex;
  flex-direction: column;
  transition: left 0.5s ease;

  /* vertical timeline stem */
  &::before {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 100vh;
    top: -#{mixin.$header-height};
    right: 0;
    background: mixin.$gravl-blue;
  }
  &.empty {
    /* vertical timeline stem */
    &::before {
      right: -4rem;
    }
  }

  .pastTrips {
    margin-top: 1rem;
    margin-left: -20rem;
    padding-right: 15rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    transform: translateX(15rem);
    position: relative;
    flex: auto;
    overflow-y: auto;
    scrollbar-width: none;
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 1rem,
      black calc(100% - 4rem),
      transparent 100%
    );

    &::-webkit-scrollbar {
      display: none;
    }

    .tripCheckpoint {
      position: relative;
      padding: 0.7rem 0 0.7rem;
      max-width: 33rem;
      margin-left: -3rem;
      border-right: 0.5rem solid mixin.$gravl-blue;
      padding-right: 4rem;
      overflow: visible;

      /* horizontal stem to timeline */
      &::before {
        content: "";
        background: mixin.$gravl-blue;
        opacity: 0.25;
        width: 4rem;
        height: 0.2rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        z-index: -1;
      }

      /* dot on timeline */
      .dot::before {
        content: "";
        background: mixin.$gravl-blue;
        width: 1.5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -1rem;
      }

      .tripCardContainer {
        position: relative;
        padding-left: 3rem;

        .trashContainer {
          display: none;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -0.5rem;
          white-space: nowrap;
          border-radius: 50%;
          padding: 0.5rem;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            background-color: mixin.$very-light-blue;
          }

          .trash {
            height: 2rem;
          }
        }

        &:hover .trashContainer {
          display: block;
        }
      }

      .year,
      .dates {
        position: absolute;
        left: calc(100% + 2rem);
        font-weight: 300;
        font-style: italic;
        color: mixin.$dark;
        white-space: nowrap;
        width: fit-content;
      }

      .year {
        top: 10%;
        font-size: 2rem;
      }

      .dates {
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.4rem;
      }
    }
  }
}
