@use "./mixin" as mixin;

.timeline {
  position: relative;
  z-index: 100;
  margin-left: 6rem;
  height: calc(
    100vh - #{mixin.$header-height} - 5rem
  ); // subtract out header and the padding-bottom of the entire page container
  width: fit-content;
  display: flex;
  flex-direction: column;
  transition: left 0.5s ease;

  /* vertical timeline stem */
  &::before {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 100vh;
    top: -#{mixin.$header-height};
    right: 0;
    background: mixin.$gravl-blue;
  }
  &.empty {
    /* vertical timeline stem */
    &::before {
      right: -4rem;
    }
  }

  .saveTripsButton {
    width: 100%;
    padding: 1.3rem 2rem;
    background-color: mixin.$gravl-blue;
    color: mixin.$white;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    &:hover {
      background-color: mixin.$darker-blue;
    }

    p {
      margin: 0;
    }
  }

  .proTipContainer {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .proTip {
      font-size: 1.5rem;
      color: mixin.$gravl-blue;
      font-weight: 500;
      text-transform: uppercase;
    }
    .up_arrow {
      width: 3rem;
      aspect-ratio: 1;
    }
  }

  .noTripsYet {
    width: 26rem;
    height: calc(100vh - mixin.$header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: mixin.$gravl-blue;
    text-transform: uppercase;
  }

  .pastTrips {
    margin-top: 1rem;
    margin-left: -20rem;
    padding-right: 15rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    transform: translateX(15rem);
    position: relative;
    flex: auto;
    overflow-y: auto;
    scrollbar-width: none;
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 1rem,
      black calc(100% - 4rem),
      transparent 100%
    );

    &::-webkit-scrollbar {
      display: none;
    }

    .tripCheckpoint {
      position: relative;
      padding: 0.7rem 0 0.7rem;
      max-width: 33rem;
      margin-left: -3rem;
      border-right: 0.5rem solid mixin.$gravl-blue;
      padding-right: 4rem;
      overflow: visible;

      /* horizontal stem to timeline */
      &::before {
        content: "";
        background: mixin.$gravl-blue;
        opacity: 0.25;
        width: 4rem;
        height: 0.2rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        z-index: -1;
      }

      /* dot on timeline */
      .dot::before {
        content: "";
        background: mixin.$gravl-blue;
        width: 1.5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -1rem;
      }

      .tripCardContainer {
        position: relative;
        padding-left: 3rem;

        .trashContainer {
          display: none;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -0.5rem;
          white-space: nowrap;
          border-radius: 50%;
          padding: 0.5rem;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            background-color: mixin.$very-light-blue;
          }

          .trash {
            height: 2rem;
            aspect-ratio: 1;
          }
        }

        &:hover .trashContainer {
          display: block;
        }
      }

      .year,
      .dates {
        position: absolute;
        left: calc(100% + 2rem);
        font-weight: 300;
        font-style: italic;
        color: mixin.$dark;
        white-space: nowrap;
        width: fit-content;
      }

      .year {
        top: 10%;
        font-size: 2rem;
      }

      .dates {
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 760px) {
  .timeline {
    margin: 2rem auto 0;
    height: fit-content;

    &::before {
      visibility: hidden;
    }

    .mobileOnlyContainer {
      margin-bottom: 1rem;
      width: 60rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .saveTripsButtonMobile {
        width: 54rem;
        height: 5rem;
        background-color: mixin.$gravl-blue;
        color: mixin.$white;
        font-size: 3rem;
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        border-radius: 5rem;
        transition: background-color 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
      }

      .desktopOnlyContainer {
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .desktopOnly {
          margin-right: 1rem;
          font-size: 1.5rem;
          color: mixin.$dark;
          font-weight: 400;
          text-transform: uppercase;
        }

        .desktop {
          width: 2rem;
          aspect-ratio: 1;
        }
      }
    }

    .pastTrips {
      overflow-y: scroll;
      margin-top: 2rem;
      transform: translateX(18rem);
      max-width: 100vw;

      .tripCheckpoint {
        padding: 1.2rem 0 1.2rem;
        max-width: 46rem;
        border-right: 0.8rem solid mixin.$gravl-blue;

        &::before {
          width: 4rem;
          height: 0.3rem;
        }

        .dot::before {
          width: 2.25rem;
          right: -1.5rem;
        }

        .year,
        .dates {
          left: calc(100% + 3rem);
        }

        .year {
          font-size: 3rem;
        }

        .dates {
          top: 60%;
          width: 10rem;
          text-wrap: wrap;
          font-size: 2rem;
          line-height: 2.2rem;
        }
      }
    }
  }
}
