@use "./mixin" as mixin;

.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2.2rem;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: mixin.$gravl-blue;
    }

    &:checked + .slider:before {
      -webkit-transform: translateX(1.8rem);
      -ms-transform: translateX(1.8rem);
      transform: translateX(1.8rem);
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: mixin.$light;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: "";
      height: 1.6rem;
      aspect-ratio: 1;
      left: 0.3rem;
      bottom: 0.3rem;
      background-color: mixin.$white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    &.round {
      border-radius: 1.5rem;

      &:before {
        border-radius: 50%;
      }
    }
  }
}
