@use "./mixin" as mixin;

.statContainer {
  display: flex;
  justify-content: center;

  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .progressContainer {
      width: 24rem;
      height: 24rem;

      .countContainer {
        display: flex;
        align-items: end;

        .count {
          font-size: 8rem;
          color: mixin.$dark;
          margin: 0 -0.6rem 0.6rem 0;
          font-weight: 400;
        }
        .totalCount {
          font-size: 4rem;
          color: mixin.$dark;
          font-weight: 400;
        }
      }

      .type {
        margin-top: 1rem;
        font-size: 2.8rem;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
      }
    }

    .statsNavbar {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: mixin.$very-light;
      position: relative;
      border-radius: 0.8rem;
      width: 13rem;
      cursor: pointer;

      button {
        height: 2rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        font-size: 1.3rem;
        text-transform: capitalize;
        font-weight: 400;
        cursor: pointer;
        transition: 0.5s;
      }

      .unselected {
        color: mixin.$gravl-blue;
      }

      .selected {
        color: mixin.$white;
      }

      .animation {
        position: absolute;
        width: 100%;
        height: 2rem;
        z-index: 0;
        transition: all 0.5s ease 0s;
        border-radius: 0.8rem;
        width: 13rem;
        top: 2rem;
        background: mixin.$gravl-blue;
      }
    }
  }
}

.timelineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .myTimeline {
    font-size: 5rem;
    font-weight: 400;
    color: mixin.$dark;
  }

  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0 10rem;
  }
}
