@use "./mixin" as mixin;

.container {
  display: flex;
  align-items: center;
  width: 26rem;
  height: 6rem;
  border-radius: 3rem;
  background-color: mixin.$very-light;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0.3rem 0.3rem 0 rgba(36, 41, 47, 0.25);
  padding: 0.6rem;
  transition: 0.3s;

  &:hover {
    transform: translateX(0.5rem);
  }

  img {
    width: 4.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
  }

  .right {
    margin-left: 1rem;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: 1.8rem;
      color: mixin.$dark;
      font-weight: 400;
    }

    .locations {
      margin-top: 0.2rem;
      color: mixin.$faded;
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
