@use "./mixin" as mixin;

.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 26rem;
  height: 6rem;
  border-radius: 3rem;
  background-color: mixin.$very-light;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0.3rem 0.3rem 0 rgba(36, 41, 47, 0.25);
  padding: 0.6rem;
  transition: 0.3s;

  // Don't allow the text to be selected on Shift + Click
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  .right {
    margin: 0 1rem;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    mask-image: linear-gradient(
      to right,
      black 0%,
      black 19rem,
      transparent 23rem
    );
    transition: 0.3s;

    .title {
      font-size: 1.8rem;
      line-height: 2rem;
      overflow: hidden;
      white-space: nowrap;
      color: mixin.$dark;
      font-weight: 400;
      transition: 0.3s;
    }

    .locations {
      margin-top: 0.2rem;
      color: mixin.$faded;
      font-size: 1rem;
      font-weight: 400;
      transition: 0.3s;
    }
  }

  .editContainer {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: mixin.$almost-very-light;
    }

    .edit {
      height: 2rem;
    }
  }

  &.selected {
    background-color: mixin.$gravl-blue;

    .title,
    .locations {
      color: mixin.$white;
    }

    .editContainer:hover {
      background-color: mixin.$darker-blue;
    }
  }

  &:hover {
    transform: translateX(0.5rem);

    .right {
      mask-image: linear-gradient(
        to right,
        black 0%,
        black 17rem,
        transparent 19rem
      );
    }

    .editContainer {
      display: block;
    }
  }
}

@media (max-width: 760px) {
  .container {
    width: 38rem;
    height: 10rem;
    border-radius: 5rem;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(36, 41, 47, 0.25);
    padding: 1rem;

    .right {
      margin: 0 1.5rem;
      mask-image: linear-gradient(
        to right,
        black 0%,
        black 26rem,
        transparent 32rem
      );

      .title {
        font-size: 2.8rem;
        line-height: 3rem;
      }

      .locations {
        margin-top: 0.3rem;
        font-size: 1.5rem;
      }
    }

    &:hover {
      transform: none;

      .right {
        mask-image: linear-gradient(
          to right,
          black 0%,
          black 26rem,
          transparent 32rem
        );
      }
    }
  }
}
