@use "./mixin" as mixin;

.userStats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12rem;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    .stat {
      font-size: 2.6rem;
      color: mixin.$gravl-blue;
      font-weight: 400;

      span {
        font-size: 1.6rem;
      }
    }
    .desc {
      font-size: 1.2rem;
      font-weight: 400;
      color: mixin.$dark;
      text-transform: uppercase;
      letter-spacing: -0.02rem;
    }
  }
}

@media (max-width: 760px) {
  .userStats {
    width: 20rem;

    div {
      .stat {
        font-size: 5rem;
      }

      .desc {
        font-size: 2rem;
      }
    }
  }
}
