/* [project]/src/styles/basictripinfocard.module.scss.module.css [app-client] (css) */
.basictripinfocard-module-scss-module__NQOSSa__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50rem;
  padding: 3rem 3.5rem;
  background-color: #fff;
  border-radius: 2rem;
}

.basictripinfocard-module-scss-module__NQOSSa__container .basictripinfocard-module-scss-module__NQOSSa__nameInput {
  font-size: 3rem;
  line-height: 3.5rem;
  color: #24292f;
  font-weight: 400;
  border-bottom: .2rem solid #319fff;
}

.basictripinfocard-module-scss-module__NQOSSa__container .basictripinfocard-module-scss-module__NQOSSa__nameInput::placeholder {
  color: #cfcfcf;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}

.basictripinfocard-module-scss-module__NQOSSa__container .basictripinfocard-module-scss-module__NQOSSa__descInput {
  margin-top: 1.5rem;
  height: 9rem;
  overflow: auto;
  padding: 1.5rem 2rem;
  border: .2rem solid #319fff;
  border-radius: 1rem;
  color: #24292f;
  font-size: 2rem;
  font-weight: 200;
}

.basictripinfocard-module-scss-module__NQOSSa__container .basictripinfocard-module-scss-module__NQOSSa__descInput::placeholder {
  color: #757575;
  font-size: 2rem;
  font-weight: 100;
}

.basictripinfocard-module-scss-module__NQOSSa__container .basictripinfocard-module-scss-module__NQOSSa__bottom {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basictripinfocard-module-scss-module__NQOSSa__container .basictripinfocard-module-scss-module__NQOSSa__bottom .basictripinfocard-module-scss-module__NQOSSa__dateContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.basictripinfocard-module-scss-module__NQOSSa__container .basictripinfocard-module-scss-module__NQOSSa__bottom .basictripinfocard-module-scss-module__NQOSSa__dateContainer .basictripinfocard-module-scss-module__NQOSSa__chooseDate {
  margin: .5rem 0;
  display: flex;
}

.basictripinfocard-module-scss-module__NQOSSa__container .basictripinfocard-module-scss-module__NQOSSa__bottom .basictripinfocard-module-scss-module__NQOSSa__dateContainer .basictripinfocard-module-scss-module__NQOSSa__chooseDate p {
  color: #24292f;
  font-size: 2rem;
  font-weight: 200;
}

.basictripinfocard-module-scss-module__NQOSSa__container .basictripinfocard-module-scss-module__NQOSSa__bottom button {
  position: relative;
  background-color: #319fff;
  padding: 1rem 1rem 1rem 2rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 2rem;
  transition: transform .3s;
}

.basictripinfocard-module-scss-module__NQOSSa__container .basictripinfocard-module-scss-module__NQOSSa__bottom button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -2rem;
  transform: translateY(-50%);
  width: 0;
  border-left: 2rem solid #319fff;
  border-top: 2rem solid #0000;
  border-bottom: 2rem solid #0000;
}

.basictripinfocard-module-scss-module__NQOSSa__container .basictripinfocard-module-scss-module__NQOSSa__bottom button:hover {
  transform: translateX(1rem);
}

.basictripinfocard-module-scss-module__NQOSSa__container .basictripinfocard-module-scss-module__NQOSSa__error {
  position: absolute;
  bottom: 1.5rem;
  left: 3.5rem;
  font-size: 1.3rem;
  color: #c30000;
}

/*# sourceMappingURL=src_styles_basictripinfocard_module_scss_module_b52d8e.css.map*/