/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/styles/header.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* COLORS */
/* app colors */
/* auxiliary colors */
/* text colors */
/* map colors */
/* DIMENSIONS */
/* header */
.header_headerContainer__hLDp4 {
  height: 9rem;
  width: 100vw;
  padding: 0 7rem;
  display: flex;
  align-items: center;
}
.header_headerContainer__hLDp4 .header_logoContainer__l0e8g {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.header_headerContainer__hLDp4 .header_logoContainer__l0e8g .header_logo__ZPAE6 {
  width: 3.5rem;
  height: 4rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.header_headerContainer__hLDp4 .header_logoContainer__l0e8g .header_gravl__nZltk {
  font-size: 2.8rem;
  font-weight: 400;
  color: #24292f;
  text-decoration: none;
  cursor: pointer;
}
.header_headerContainer__hLDp4 .header_headerRightContainer__z91Xs {
  flex: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* if not logged in */
  /* if logged in */
}
.header_headerContainer__hLDp4 .header_headerRightContainer__z91Xs .header_loginContainer__XjPKo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header_headerContainer__hLDp4 .header_headerRightContainer__z91Xs .header_loginContainer__XjPKo .header_login__TYodz {
  font-size: 2rem;
  font-weight: 400;
  margin-right: 1rem;
  color: #24292f;
}
.header_headerContainer__hLDp4 .header_headerRightContainer__z91Xs .header_loginContainer__XjPKo .header_account__2nee0 {
  width: 2.7rem;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
}
.header_headerContainer__hLDp4 .header_headerRightContainer__z91Xs .header_pfpContainer__BzrIj {
  position: relative;
  cursor: pointer;
}
.header_headerContainer__hLDp4 .header_headerRightContainer__z91Xs .header_pfpContainer__BzrIj .header_pfp__pvEYb {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.header_headerContainer__hLDp4 .header_headerRightContainer__z91Xs .header_pfpContainer__BzrIj .header_notifContainer__JpDBc {
  position: absolute;
  top: -0.1rem;
  right: -0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  aspect-ratio: 1;
  background-color: #319fff;
  border-radius: 50%;
  color: #fff;
  border: 0.2rem solid #fff;
}
.header_headerContainer__hLDp4 .header_headerRightContainer__z91Xs .header_pfpContainer__BzrIj .header_dropdown__H6evi {
  position: absolute;
  top: 5rem;
  right: 0;
  background-color: #fbfbfb;
  border-radius: 1rem;
  padding: 1rem 2rem;
  width: 10rem;
  box-shadow: 0.2rem 0.3rem 0.3rem 0 rgba(36, 41, 47, 0.25);
  z-index: 100;
}
.header_headerContainer__hLDp4 .header_headerRightContainer__z91Xs .header_pfpContainer__BzrIj .header_dropdown__H6evi::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: 1.25rem;
  height: 1rem;
  aspect-ratio: 1;
  background-color: #fbfbfb;
  transform: rotate(45deg);
  z-index: -1;
}
.header_headerContainer__hLDp4 .header_headerRightContainer__z91Xs .header_pfpContainer__BzrIj .header_dropdown__H6evi.header_active__1GtWl {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.3s ease;
}
.header_headerContainer__hLDp4 .header_headerRightContainer__z91Xs .header_pfpContainer__BzrIj .header_dropdown__H6evi.header_inactive__IJ8VU {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-1rem);
  transition: 0.3s ease;
}
.header_headerContainer__hLDp4 .header_headerRightContainer__z91Xs .header_pfpContainer__BzrIj .header_dropdown__H6evi ul li {
  padding: 0.5rem 0;
  color: #757575;
  font-size: 1.5rem;
  font-weight: 300;
  transition: 0.3s;
}
.header_headerContainer__hLDp4 .header_headerRightContainer__z91Xs .header_pfpContainer__BzrIj .header_dropdown__H6evi ul li:last-child {
  color: #24292f;
  font-weight: 400;
}
.header_headerContainer__hLDp4 .header_headerRightContainer__z91Xs .header_pfpContainer__BzrIj .header_dropdown__H6evi ul li:hover {
  color: #24292f;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/styles/signupbutton.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* COLORS */
/* app colors */
/* auxiliary colors */
/* text colors */
/* map colors */
/* DIMENSIONS */
/* header */
.signupbutton_button__4hcEl {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2.5rem 0 1.5rem;
  height: 4.5rem;
  text-align: center;
  z-index: 1;
  border-radius: 2.25rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background: #319fff;
  transition: transform 0.3s;
}
.signupbutton_button__4hcEl:hover {
  transform: scale(1.1);
}
.signupbutton_button__4hcEl .signupbutton_go__KRBhg {
  width: 4rem;
}
.signupbutton_button__4hcEl p {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0.3rem;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/styles/counties.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* COLORS */
/* app colors */
/* auxiliary colors */
/* text colors */
/* map colors */
/* DIMENSIONS */
/* header */
#counties_map__MRLkN {
  width: 95%;
  /* unvisited counties */
}
#counties_map__MRLkN > path {
  fill: #012241;
  stroke: #fff;
  cursor: pointer;
  transition: 0.2s;
}

/* interstates */
#counties_highways__4diJQ path {
  stroke: #06218e;
  cursor: pointer;
  display: none;
}

/* state borders */
#counties_state_borders__Q1PZm path {
  stroke: #fff;
  cursor: pointer;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/styles/onboarding.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* COLORS */
/* app colors */
/* auxiliary colors */
/* text colors */
/* map colors */
/* DIMENSIONS */
/* header */
.onboarding_overlay__0WVYM {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(36, 41, 47, 0.3);
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
}
.onboarding_overlay__0WVYM .onboarding_container__WHpTA {
  border-radius: 2rem;
  background-color: #fff;
  margin: auto;
  padding: 4rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_headingContainer__VUk83 {
  display: flex;
  align-items: center;
}
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_headingContainer__VUk83 .onboarding_pin__b0ZMh {
  margin: -1rem 0;
  margin-left: 0.5rem;
  width: 4rem;
}
.onboarding_overlay__0WVYM .onboarding_container__WHpTA p {
  font-size: 3rem;
  font-weight: 400;
  color: #24292f;
}
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_inputContainer__bHC8Y {
  margin-top: 2rem;
  display: flex;
  width: 50rem;
  position: relative;
}
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_inputContainer__bHC8Y .onboarding_returnContainer__NHtaM {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  display: flex;
  align-items: center;
}
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_inputContainer__bHC8Y .onboarding_returnContainer__NHtaM p {
  font-size: 2rem;
  color: #319fff;
  font-weight: 100;
}
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_inputContainer__bHC8Y .onboarding_returnContainer__NHtaM .onboarding_return_arrow__CVwhC {
  margin-left: 0.5rem;
  width: 2.5rem;
}
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_inputContainer__bHC8Y .onboarding_wordCount__HWWoD {
  position: absolute;
  font-size: 1.4rem;
  color: #757575;
  font-weight: 200;
  top: -2rem;
  right: 0.5rem;
}
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_inputContainer__bHC8Y input,
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_inputContainer__bHC8Y textarea {
  text-align: center;
  color: #24292f;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 10rem;
  border: 0.15rem solid #319fff;
  border-radius: 1rem;
  flex: auto;
  resize: none;
  font-family: "Josefin Sans", sans-serif;
}
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_inputContainer__bHC8Y input[type=file],
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_inputContainer__bHC8Y textarea[type=file] {
  display: none;
}
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_inputContainer__bHC8Y input:focus,
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_inputContainer__bHC8Y textarea:focus {
  outline: none;
}
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_inputContainer__bHC8Y.onboarding_uploadPFPContainer__JW7yD {
  flex-direction: column;
  align-items: center;
}
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_inputContainer__bHC8Y.onboarding_uploadPFPContainer__JW7yD .onboarding_uploadPFP__B3qjj {
  cursor: pointer;
  background-color: #fafafa;
  width: 13.3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.15rem solid #319fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_inputContainer__bHC8Y.onboarding_uploadPFPContainer__JW7yD .onboarding_uploadPFP__B3qjj:hover {
  background-color: #f5f5f5;
}
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_inputContainer__bHC8Y.onboarding_uploadPFPContainer__JW7yD .onboarding_account__Zmy4T {
  width: 10rem;
}
.onboarding_overlay__0WVYM .onboarding_container__WHpTA .onboarding_inputContainer__bHC8Y.onboarding_uploadPFPContainer__JW7yD button {
  margin-top: 2rem;
  background-color: #319fff;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/styles/landing.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* COLORS */
/* app colors */
/* auxiliary colors */
/* text colors */
/* map colors */
/* DIMENSIONS */
/* header */
.landing_mainContainer__S1AKZ {
  height: calc(100vh - 9rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing_mainContainer__S1AKZ .landing_map__pH7MO {
  margin-top: -4rem;
  width: 90rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing_mainContainer__S1AKZ .landing_motto__ylIyl {
  margin-top: -4rem;
  font-size: 3rem;
  font-weight: 400;
}
