@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* app colors */
$gravl-blue: #319fff;
$white: #fff;
$dark: #24292f;

/* map colors */
$navy-blue: #103F80;
$dark-gray: #294656;
$default-gray: #d1dbdd;
$unvisited: #013f3f;
$highways: #06218e;

* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

button {
  border: none;
  background: none;
}