@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

button {
  border: none;
  background: none;
}